[2021-07-10 21:18] kparikh9 opened #4 "Fix UI and Margins for Screen 1 of Wallet App"
![image](https://user-images.githubusercontent.com/23002786/125176533-38461280-e1a2-11eb-84cd-ef3806d516e2.png)

This is currently implemented with Leaflet client, but margins and spacing push content into weird positions when viewport changes size.

[2021-07-10 21:32] kparikh9 opened #5 "Create Grid Element that will pull images for 9 random trees from continent/country"
![image](https://user-images.githubusercontent.com/23002786/125176660-45afcc80-e1a3-11eb-9938-3c841a522cad.png)

[2021-07-10 21:56] kparikh9 opened #6 "Based on data received from API (series), use library (Chart.js, Graph.js) to create line chart and calculate increase/decrease statistic"
![image](https://user-images.githubusercontent.com/23002786/125177185-b35df780-e1a7-11eb-81f1-9c559853702b.png)

[2021-07-10 21:59] kparikh9 opened #7 "Based on data received from API, display 3 random planters and 3 random tree species with images, condense the rest into icon (+22, +32 in image)"
![image](https://user-images.githubusercontent.com/23002786/125177269-6dedfa00-e1a8-11eb-9564-6d6476a0d612.png)

[2021-07-10 22:20] kparikh9 opened #8 "Create Detailed Tree Screen"
![image](https://user-images.githubusercontent.com/23002786/125177520-7f380600-e1aa-11eb-96d6-5ce4424dd875.png)

- [ ] Display Tree Species/Tree Name (Marula)
- [ ] Display Tree Badges (i.e. Tree Verified, Token Issued)
- [ ] Display Planter Profile Image
- [ ] Display Tree Image as background overlay
- [ ] Show latest state in transaction history (Claimed on January ...)
- [ ] Impact Value Progre

[2021-07-10 22:33] kparikh9 opened #9 "Create History Tab with Timeline"
![image](https://user-images.githubusercontent.com/23002786/125177843-1e5dfd00-e1ad-11eb-885e-673d7793b162.png)

Use events returned from API to create historical timeline based on transactions for tree token.

[2021-07-15 07:04] dadiorchen opened #11 "Create Github Action to build & deploy the wallet app to dev env."

[2021-08-04 22:01] dadiorchen opened #12 "The infrastructure: set the best way to reuse/share the code with web map client."
consider npm/git-submodule/git-subtree

[2021-08-04 22:04] dadiorchen opened #13 "The infrastructure: router"
Consider how to router, and how to deal with router in a map-based app

[2021-08-04 22:08] dadiorchen opened #14 "The infrastructure: all kinds of tools"
ESLint, Prettier, Cypress, Jest

[2021-08-23 07:00] dadiorchen opened #15 "The basic structure/framework"
* React
* React Router
* Router basic component, support mobile action.

[2021-08-23 07:01] dadiorchen opened #16 "Install Cypress and basic e2e test."
The entry point of the most basic e2e test, like open the landing page.

[2021-08-23 07:02] dadiorchen opened #17 "Cypress unit test installation."
Setting up the unit test env using Cypress.
Define the way to build/create/test the component unit.

[2021-08-23 07:04] dadiorchen opened #18 "Install prettier"
And the rule to run it, Refer to https://github.com/Greenstand/treetracker-admin-client

[2021-08-23 07:05] dadiorchen opened #19 "Install eslint"
And the rules to run it, refer to https://github.com/Greenstand/treetracker-admin-client

[2021-08-23 07:05] #13 closed

[2021-08-23 07:06] #14 closed

[2021-08-23 07:08] dadiorchen opened #20 "Experimant: lazy loading for the landing page."
The idea is: making the landing page extremely simple and small, so loading this first view/page would be fast, with the spin/loading animation running, then consider load the rest of the whole app.

[2021-08-23 07:09] dadiorchen opened #21 "The landing page"
With an animation

[2021-08-23 07:14] dadiorchen opened #22 "Install husky"
To control commit workflow. Frefer to https://github.com/Greenstand/treetracker-admin-client

[2021-08-23 07:39] dadiorchen commented on #18
Requirements:
* When user commit code, must make sure the code is in a good format. It's a good chance to enable the prettier at the start of a project, to make sure the code is in good style/format

[2021-08-23 07:40] dadiorchen commented on #19
Requirements:
* When commit, force the committer to comply all those rules tagged with `error`

[2021-08-24 07:50] dadiorchen opened #24 "API spec for milestone1"
Define the spec for APIs that are required by the milestone1

[2021-08-24 07:56] dadiorchen commented on #24
## For web map
[actually, need all those API + tile server URLs in the case of: treetracker.org/?wallet=xxxx]
* Web map API: https://prod-k8s.treetracker.org/webmap/trees?clusterRadius=0.05&zoom_level=10&wallet=SustainablyRun
* Tile server: https://tiles1.treetracker.org/6/39/32.png?wallet=SustainablyRun

![image](https://user-images.githubusercontent.com/5744708/130579097-61038e60-1ee3-4cc2-852e-

[2021-08-24 08:54] dadiorchen opened #25 "A spin/loading component"
Spin when data is not loaded yet.

[2021-08-24 08:56] dadiorchen opened #26 "The Wallet info component"
![image](https://user-images.githubusercontent.com/5744708/130588116-f1104908-133b-4556-862d-6cccad3a26cb.png)

[2021-08-24 08:57] dadiorchen opened #27 "The token list"
![image](https://user-images.githubusercontent.com/5744708/130588256-5e58430a-a158-42c6-8d05-984345fc4ea3.png)

-----------
Some hints for building components:
* Our Figma design is here: https://www.figma.com/file/XtReDuYYGDVQBv4JfzVG0g/Greenstand---Wallet?node-id=7%3A71
* A tutorial of how to use Cypress component tool to build components: https://github.com/Greenstand/treetracker-wallet-web#how

[2021-08-24 08:59] dadiorchen commented on #27
This should be an infinite list, when scrolling down to the bottom, the list should load the next page.
When there isn't any more data, should show: `no more data` at the bottom of the list.

[2021-08-24 09:08] dadiorchen opened #28 "Let the page router transition support the IOS safari"
Currently, it is a little stumbling on the IOS to click and jump to the next router( using React-Router + react-transition-group) My guess is that the CSS (we use css transition for the page effect) is unsupported on the IOS safari. So we need to test and fix it, make it works the same as on Chrome.

[2021-08-24 09:10] dadiorchen opened #29 "API spec for milestone2"

[2021-08-25 03:59] dadiorchen opened #30 "The UX/UI about the share function."
@rgesulfo Do you think that we need to design a share page/dialog for the share function? We have a simple one on the current web map, but we just build it with the default component in the lib we are using. It's not so pretty in my opnion.

<img width="1420" alt="Screen Shot 2021-08-25 at 11 54 52 AM" src="https://user-images.githubusercontent.com/5744708/130724260-64cdaad2-6dfa-4ade-aa78-4bf0c34

[2021-08-25 04:00] dadiorchen commented on #30
You can try the current share button when you zoom in on treetracker.org and clicking a tree.

[2021-08-25 04:05] dadiorchen opened #31 "The tree/capture detail page."
Create page + component for the tree/capture detail page, could use mock/fake data.

![image](https://user-images.githubusercontent.com/5744708/130724721-3c3e1f91-2623-45a0-b9ba-983780105025.png)

[2021-08-25 04:07] dadiorchen opened #32 "History transaction component."
Could use mock/fake data to present the component.

![image](https://user-images.githubusercontent.com/5744708/130724885-85094029-8274-4f93-a66d-647c52e78f16.png)

-----------
Some hints for building components:
* Our Figma design is here: https://www.figma.com/file/XtReDuYYGDVQBv4JfzVG0g/Greenstand---Wallet?node-id=7%3A71
* A tutorial of how to use Cypress component tool to build components: http

[2021-08-25 05:56] dadiorchen opened #33 "Caution component."
![image](https://user-images.githubusercontent.com/5744708/130734278-a03dd114-dccd-40b3-80b1-64c4f67e769a.png)

-----------
Some hints for building components:
* Our Figma design is here: https://www.figma.com/file/XtReDuYYGDVQBv4JfzVG0g/Greenstand---Wallet?node-id=7%3A71
* A tutorial of how to use Cypress component tool to build components: https://github.com/Greenstand/treetracker-wallet-web#how

[2021-08-25 06:13] dadiorchen commented on #29
* The tree/capture info
  * method: GET
  * path: [domain]/tree/[id]
  * auth: no need to auth
  * response: [capture object]
[code]

* The impact manager info
  * method: GET
  * path: [domain]/impact-manager/[id]
  * auth: no need to auth
  * response: [impact manage object]
[code]

* The impact producer info
  * method: GET
  * path: [domain]/impact-producer/[id]
  * auth: no need to auth
  * r

[2021-08-25 06:18] dadiorchen opened #34 "MatierialUI template/theme"
To define the them:
  * Colors
  * Fonts
  * Spacing.
  * Corner style.
  * And so on.
To bring the most convenience for the detailed pages when coding, avoid replicated troublesome style definition in the detailed code file.

[2021-08-25 06:20] dadiorchen opened #35 "The tab component."
![image](https://user-images.githubusercontent.com/5744708/130736919-0f9142f8-833f-46e6-a2ee-a121a090b9ae.png)

-----------
Some hints for building components:
* Our Figma design is here: https://www.figma.com/file/XtReDuYYGDVQBv4JfzVG0g/Greenstand---Wallet?node-id=7%3A71
* A tutorial of how to use Cypress component tool to build components: https://github.com/Greenstand/treetracker-wallet-web#how

[2021-08-25 06:22] dadiorchen opened #36 "Back navigation button"
a common component.
![image](https://user-images.githubusercontent.com/5744708/130737112-ecdb281c-a497-4070-b87a-1c25576d93f9.png)

[2021-08-25 06:23] dadiorchen opened #37 "Drawer component"
![image](https://user-images.githubusercontent.com/5744708/130737342-0e22508b-71ac-4a90-a998-e6d20f098a8d.png)

[2021-08-25 06:25] dadiorchen opened #38 "The detail page component."
Please note, this task is just about the frame of the page (the back button, and drawer) do not include the content in it.
![image](https://user-images.githubusercontent.com/5744708/130737456-7f409afb-c9ab-4681-bc40-c4a7c061fd17.png)

-----------
Some hints for building components:
* Our Figma design is here: https://www.figma.com/file/XtReDuYYGDVQBv4JfzVG0g/Greenstand---Wallet?node-id=7%3A71
* A

[2021-08-25 06:27] dadiorchen opened #39 "Button component."
Create a reusable button as a common component.
![image](https://user-images.githubusercontent.com/5744708/130737778-e2ff806b-624a-43d7-8b11-68f22b7f83ef.png)

[2021-08-25 06:30] dadiorchen opened #40 "Read me"

[2021-08-25 06:35] VWRoli commented on #18
Hello! Worked on this and added a PR.

[2021-08-25 07:04] dadiorchen commented on #11
Refer to the actions under web map client, create action to build and deploy the code to dev when new code is merged to `master`;
https://github.com/Greenstand/treetracker-web-map-client/tree/master/.github/workflows

[2021-08-25 07:06] dadiorchen opened #42 "Deploy to test env"
Deploy code to test environment.
Refer to: https://github.com/Greenstand/treetracker-web-map-client/tree/master/.github/workflows

[2021-08-25 07:09] dadiorchen commented on #16
As a start point of the e2e, just need to load the initial page get loaded (can find the correct content which should be shown when loaded)

[2021-08-25 07:13] dadiorchen opened #43 "Run e2e test in the deploy-to-dev action."
Add the e2e test step in the action that deploys the code to commit, it means, every time after the deployment to dev, the e2e test will run and check if everything is okay.
Here is a reference :
https://github.com/Greenstand/treetracker-wallet-api/blob/e0767c7b07c4a78e94c2f0437ff212da8c1c028f/.github/workflows/treetracker-wallet-api-build-deploy-dev.yml#L109-L126

[2021-08-25 07:13] dadiorchen opened #147 "Run e2e test in the deploy-to-dev action."
Add the e2e test step in the action that deploys the code to commit, it means, every time after the deployment to dev, the e2e test will run and check if everything is okay.
Here is a reference :
https://github.com/Greenstand/treetracker-wallet-api/blob/e0767c7b07c4a78e94c2f0437ff212da8c1c028f/.github/workflows/treetracker-wallet-api-build-deploy-dev.yml#L109-L126

[2021-08-25 07:15] #18 closed

[2021-08-25 07:23] dadiorchen commented on #17
My idea is that put the unit test next to the target component js file, like: /button.js, /button.cy.js
And the file name rule is: [target file name].cy.js
Any suggestion is welcome.

[2021-08-25 07:24] dadiorchen commented on #17
Another usage of the Cypress unit test is as a component sandbox, we can create, test it in the unit test file.

[2021-08-25 07:29] dadiorchen opened #44 "License info"
Refer to: https://github.com/Greenstand/treetracker-wallet-api

[2021-08-25 07:41] dadiorchen commented on #19
Maybe the second item is related to #22

[2021-08-25 07:44] dadiorchen commented on #20
Considering all the rest part except the landing page: MatiriealUI, leaflet+pluings, images, icons, map stuff, and all other pages/code.

[2021-08-25 07:46] dadiorchen commented on #22
Considering check the eslint #19

[2021-08-25 07:48] dadiorchen commented on #26
Visit the slack channel for UI details. Basically, just need to consider the component with mock/fake data.

[2021-08-25 07:52] dadiorchen commented on #27
Please use mock data to build it.

[2021-08-25 07:54] dadiorchen opened #45 "Integration the first page."
<img width="1440" alt="Screen Shot 2021-09-04 at 4 07 30 PM" src="https://user-images.githubusercontent.com/5744708/132087687-7d017a57-e11f-4976-a529-92887b9c8895.png">

[2021-08-25 07:56] dadiorchen commented on #28
I guess we need to use real IOS device and connect it with the PC to test it.

[2021-08-25 07:57] dadiorchen commented on #28
Another idea is to change to use JS rather than CSS

[2021-08-25 07:59] dadiorchen commented on #32
At this stage, please just consider a single page, without pagination.

[2021-08-25 07:59] rgesulfo commented on #30
Hi @dadiorchen, if you are up for it we can definitely try something a bit different. Here is what I'd do: https://www.figma.com/file/XtReDuYYGDVQBv4JfzVG0g/Greenstand-Wallet?node-id=1007%3A1186
What do you think? :)
In any case, this would only be for desktop as mobile leverages the native OS sharing interface right?

[2021-08-25 08:03] dadiorchen commented on #34
A reference:
https://github.com/Greenstand/treetracker-admin-client/blob/master/src/components/common/theme.js

[2021-08-25 08:05] dadiorchen commented on #35
As far as I know, this tab in terms of style is different from the default MaterialUI, so we need to change it following our new design.

[2021-08-25 08:10] dadiorchen commented on #38
Being aware the area on the top should be transparent.

[2021-08-25 08:23] dadiorchen commented on #37
Visit the slack channel for UI details.

[2021-08-25 08:23] dadiorchen commented on #39
Visit the slack channel for UI details.

[2021-08-25 12:02] anekar commented on #44
[Click here](https://choosealicense.com/) for more info on licensing.
Hope that helps.

[2021-08-26 01:39] dadiorchen opened #47 "Share component"
The UI design: https://github.com/Greenstand/treetracker-wallet-web/issues/30
![image](https://user-images.githubusercontent.com/5744708/130886134-84b024f5-ff65-4e43-ae7e-f36ecb1e1c98.png)

-----------
Some hints for building components:
* Our Figma design is here: https://www.figma.com/file/XtReDuYYGDVQBv4JfzVG0g/Greenstand---Wallet?node-id=7%3A71
* A tutorial of how to use Cypress component tool

[2021-08-26 02:46] dadiorchen opened #48 "Force code format with prettier when commit."
Make sure everytime committing the code, the code is formatted appropriately by prettier, so we get a beautiful code and will not be bothered by feature code format confusion.

[2021-08-26 03:06] dadiorchen opened #49 "Share wallet function"
To share the wallet, (the share button on the wallet + token list page)
Please check the design details in the channel, and refer to the current share feature in the web map client. https://github.com/Greenstand/treetracker-web-map-client

<img width="1440" alt="Screen Shot 2021-09-04 at 11 21 57 AM" src="https://user-images.githubusercontent.com/5744708/132080844-134ba6fa-e9f2-4c22-932d-da1eda78a

[2021-08-26 03:22] dadiorchen opened #50 "Solve the eslint for cypress,"
Make sure eslint works for cypress.

We ever have to remove the last line in eslint cfg:
[code]

[2021-08-27 03:32] dadiorchen opened #54 "Map integration"
Using the current web map modules.

[2021-08-27 08:41] dadiorchen opened #56 "Remove the radius at the bottom."
Set the drawer radius but need to remove it at the bottom of the drawer.
<img width="910" alt="Screen Shot 2021-08-27 at 4 39 12 PM" src="https://user-images.githubusercontent.com/5744708/131099025-e2c0b445-6613-4ebd-997b-64d119e54fab.png">

[2021-08-27 08:54] dadiorchen opened #57 "Can not interact with the map."
https://www.loom.com/share/4d6b9467ab1e4da3adbc46fe140bf8c5

[2021-08-28 02:11] dadiorchen commented on #39
@shreyaansjain is this you in slack? I have invited you:
![image](https://user-images.githubusercontent.com/5744708/131203011-0c2e322b-998c-406c-99e1-6c483858326e.png)

[2021-08-28 02:34] shreyaansjain commented on #39
Its not me i joined today and have given my intro
Now as i have joined slack can you tell what i have to do
it will be really helpful
Thank You

[2021-08-28 10:39] CalDev98 commented on #56
I'll work on it

[2021-08-29 07:14] VWRoli commented on #26
Working on this one.

[2021-08-31 02:48] #16 closed

[2021-08-31 06:00] dadiorchen commented on #57
some clues:
https://material-ui.com/components/drawers/
https://material-ui.com/api/modal/
https://material-ui.com/api/backdrop/

[2021-09-01 01:54] #48 closed

[2021-09-01 02:09] #17 closed

[2021-09-01 02:11] #56 closed

[2021-09-01 03:50] dadiorchen opened #65 "Make the map drawer more smooth"
https://www.loom.com/share/bbfcba122778469fbfd0feaefb04f0ea

[2021-09-01 03:51] dadiorchen commented on #65
FYI: https://material-ui.com/components/transitions/#transitions

[2021-09-02 23:16] pvdo commented on #36
Hey @dadiorchen !
I doing the back button and I will try to test on cypress as you suggested in today's meeting.

[2021-09-03 02:21] dadiorchen opened #68 "Readme about husky/eslint/prettier"
Add guide into readme for husky/eslint/prettier

[2021-09-03 02:22] dadiorchen commented on #68
@VWRoli could you please give some guidance in the readme about these tools you installed?

[2021-09-03 02:28] #26 closed

[2021-09-03 03:47] dadiorchen opened #69 "Tile-server icons."
https://github.com/Greenstand/node-mapnik-1/issues/63.

[2021-09-03 14:14] VWRoli commented on #68
Sure, but I'm going to need some more details. What were you thinking exactly? Not sure what should I write about them. The readme already contains information about Code style guide*.

Which has some typos in the eslint section.

[2021-09-03 14:23] VWRoli opened #71 "Typos in the readme eslint test section"
`npm run eslint` should be `npm run lint`
`lint:fix` script should be added to package.json as mentioned in the readme.

[2021-09-04 01:22] #71 closed

[2021-09-04 01:33] dadiorchen commented on #68
I think we should remove the code style guide, it might be a conflict with the current situation, actually it from the template.
I think we just need to let people know what we are using, and the commands and some explanation, and troubleshooting, and external link I guess some people will get stuck if they violated the husky commit message format rule, right?

[2021-09-04 03:13] dadiorchen opened #74 "Build component of token increasement graph"
Using library https://www.chartjs.org/ to build a graph component, please use static data to mock the graph (I mean we just need to draw the component following the UI design)

<img width="1440" alt="Screen Shot 2021-09-04 at 10 47 40 AM" src="https://user-images.githubusercontent.com/5744708/132080041-df5e2c68-e336-44ef-bb53-0a4fdbfd56aa.png">

-----------
Some hints for building components:
* Ou

[2021-09-04 03:16] dadiorchen opened #75 "Build component for planter list"
<img width="1440" alt="Screen Shot 2021-09-04 at 11 14 21 AM" src="https://user-images.githubusercontent.com/5744708/132080652-53d79ac8-f346-4f7b-8c17-1879408669b9.png">

-----------
Some hints for building components:
* Our Figma design is here: https://www.figma.com/file/XtReDuYYGDVQBv4JfzVG0g/Greenstand---Wallet?node-id=7%3A71
* A tutorial of how to use Cypress component tool to build component

[2021-09-04 03:18] dadiorchen commented on #75
Please make the component being reuseable for the list below: I guess the difference is just about the corner of the thumbnail avatar image, right?
<img width="1440" alt="Screen Shot 2021-09-04 at 11 16 58 AM" src="https://user-images.githubusercontent.com/5744708/132080719-536ea9a2-7e7d-46f7-962f-56cc949d9412.png">

[2021-09-04 03:29] dadiorchen commented on #49
https://www.loom.com/share/494cfea894044e589e5f778bc7e3ecc6

[2021-09-04 03:35] dadiorchen opened #76 "Share single tree function"
The prerequrites of this issue is #49
<img width="1440" alt="Screen Shot 2021-09-04 at 11 20 11 AM" src="https://user-images.githubusercontent.com/5744708/132080811-d4d95a12-5799-406b-8daa-0b6f826e013d.png">

The only difference between this issue and #49  I guess is just the URL/link, so we definitely should think about reusing that code.

[2021-09-04 03:44] dadiorchen opened #77 "Spec for milestone3"
The spec for milestone 3, including the API endpoints of server-side

[2021-09-04 06:15] dadiorchen opened #78 "The impact tab"
This feature:
<img width="1440" alt="Screen Shot 2021-09-04 at 11 37 40 AM" src="https://user-images.githubusercontent.com/5744708/132081220-14dafb0b-2160-41b5-a43f-3dab5f47028e.png">

Note: don't implement the second graph, the `impact` line graph.

The prerequisites of this feature, is some component, like the statistic graph, and others, they are tasks in other issues.

[2021-09-04 06:22] dadiorchen commented on #77
API spec:

* Wallet token gragh data:
  * method: GET
  * path: [domain]/wallet/[wallet name]/tokens/graph
  * auth: no need to auth
  * response: [data object]

[code]

* wallet planter list:
  * method: GET
  * path: [domain]/wallet/[wallet name]/planters
  * auth: no need to auth
  * response: [planter object]

[code]

* wallet species list:
  * method: GET
  * path: [domain]/wallet/[wallet nam

[2021-09-04 06:23] dadiorchen commented on #78
The api spec: #77

[2021-09-04 06:25] saurabhmehta1601 opened #79 "Fix links and typos in README"
**Describe the bug**
Broken image path in `README.md` and  and doc update .

**To Reproduce**
 1. Scroll to the bottom of `README.md`
 2. Click on the image with alt text `IDE VScode`
 3. You will be see 404 page since it is redirecting to image path which doesn't exist .

**Expected behavior**
Improved `README.md` with no broken link .

**Desktop (please complete the following information):**
 Ir

[2021-09-04 06:29] SaNsK11 commented on #75
@dadiorchen I'd like to contribute. Could you provide some insights how to get started?

[2021-09-04 06:36] dadiorchen commented on #78
https://loom.com/share/871d9bc8e67947159f8bb06a5f258446

[2021-09-04 06:45] dadiorchen commented on #75
Hi, would you like to join our slack? We have a community there and discuss things. If you want, leave me your email (or send me by email: dadiorchen@outlook.com)

[2021-09-04 06:46] #79 closed

[2021-09-04 07:23] dadiorchen commented on #11
When you add a new action, there are standardized templates available from our organization
you just add those, and then request that an admin (me) set up the correct environment variables
that's it

![image](https://user-images.githubusercontent.com/5744708/132086458-37f5efed-3d90-4ae1-a2bc-a638d8c4c7e5.png)

[2021-09-04 07:36] dadiorchen commented on #11
https://www.loom.com/share/0bcfc260c00348b683c37e24ff5addc1

[2021-09-04 07:48] dadiorchen commented on #31
The spec of API: https://github.com/Greenstand/treetracker-wallet-web/issues/29

Prerequisites: https://github.com/Greenstand/treetracker-wallet-web/issues/36 https://github.com/Greenstand/treetracker-wallet-web/issues/35

------
Some hint:
* How to mock the API: https://github.com/Greenstand/treetracker-wallet-web#how-to-mock-the-api

[2021-09-04 07:51] dadiorchen commented on #31
https://www.loom.com/share/208a7948f64f43c5a2a09a675d0a5f01

[2021-09-04 07:57] dadiorchen commented on #34
https://www.loom.com/share/4f97e682759b455f84c7e87f9bcdeb96

[2021-09-04 07:58] dadiorchen commented on #34
Our Figma design is here: https://www.figma.com/file/XtReDuYYGDVQBv4JfzVG0g/Greenstand---Wallet?node-id=7%3A71

[2021-09-04 08:01] dadiorchen commented on #35
https://www.loom.com/share/d63bd0a82ce447fbb6389f96ecf6c166

[2021-09-04 08:05] dadiorchen commented on #38
https://www.loom.com/share/972fb2daaa5046bfb40d8d8389b56fdc

[2021-09-04 08:05] dadiorchen commented on #38
Prerequisites: #36

[2021-09-04 08:09] dadiorchen commented on #45
Prerequisites: #35 #26 #27

[2021-09-04 08:11] dadiorchen commented on #45
API: #24

[2021-09-04 08:12] dadiorchen commented on #45
https://www.loom.com/share/a4694833ed0f4700a448f68d4bdcde68

[2021-09-04 08:14] dadiorchen commented on #74
API spec: #77

[2021-09-04 15:24] VWRoli commented on #68
@dadiorchen  Added a PR as a kind of a first draft. Check it and see if I should add, change or remove some things.
I think we should also specify what the linting rules will be. Maybe install [eslint-plugin-react](https://www.npmjs.com/package/eslint-plugin-react)?

Also there is no husky commit message format rule. Right now husky only has a pre-commit hook for prettier and thats it.

[2021-09-04 18:19] dorukucak commented on #47
I am working on this.

[2021-09-05 13:45] VWRoli commented on #27
Working on this one.

[2021-09-05 17:12] VWRoli commented on #34
Just noticed this issue, which is exactly what I wanted to ask, if we will have a theme. I will work on this before #27 the token list.

[2021-09-06 00:57] #68 closed

[2021-09-06 01:08] dadiorchen commented on #27
@VWRoli, I found @YassinHussein did some work on this, please take a look, @YassinHussein some hints: you can comment on the issue that you are on, and when you post a PR, add workds like: "resolves #xxx" to link the PR to issue which is relevant.

[2021-09-06 01:10] dadiorchen commented on #27
Oh, @YassinHussein I guess you didn't implement the infinite scroll down right? in the PR?

[2021-09-06 01:15] #35 closed

[2021-09-06 02:03] dadiorchen opened #85 "Routers spec for wallet app"
The router (url/path) spec for wallet app

[2021-09-06 02:04] dadiorchen commented on #85
All these router spec will ignore the domain.

[2021-09-06 02:32] dadiorchen opened #86 "UI design for the planter detail page"
@rgesulfo do you think you got enough resources to start to do this page? If the UI for this is ready, I could arrange for devs to work on this now.

![image](https://user-images.githubusercontent.com/5744708/132151944-46d1c233-904b-4f58-a330-978d30276d0c.png)

[2021-09-06 06:11] dadiorchen opened #87 "Set up routes"
Set all major routes.

[2021-09-06 08:10] #87 closed

[2021-09-06 09:49] rgesulfo commented on #86
Hi Dadior,
I’m currently off without a computer until mid next week. Is it ok to wait
until then?
The implementation is going waaay faster than I thought. Congrats! :D

On Mon, Sep 6, 2021 at 4:32 AM Dadiorchen ***@***.***> wrote:

--
*Raffaele Gesulfo*
***@***.***
raffaelegesulfo.com

[2021-09-06 11:52] YassinHussein commented on #27
@dadiorchen @VWRoli  pardon me and thanks for the hints

[2021-09-06 11:59] YassinHussein commented on #27
yeah i didn't implement it yet, my idea was to create this as a single token component and implement  infinite scroll in a separate reusable  component

[2021-09-06 13:05] VWRoli commented on #27
Alright.

[2021-09-07 01:13] #34 closed

[2021-09-07 01:17] dadiorchen commented on #86
@rgesulfo that's allright don't worry, I just push all the things forward as much as I can, we are also in progress in many aspects, so no worries, and enjoy your days without a computer!

[2021-09-07 01:40] dadiorchen opened #91 "`powered by Greenstand`"
-----------
Some hints for building components:
* Our Figma design is here: https://www.figma.com/file/XtReDuYYGDVQBv4JfzVG0g/Greenstand---Wallet?node-id=7%3A71
* A tutorial of how to use Cypress component tool to build components: https://github.com/Greenstand/treetracker-wallet-web#how-to-build-a-component
* We are using MaterialUI to build the app: https://material-ui.com/
* When you are ready

[2021-09-07 01:55] dadiorchen opened #92 "Display tree panel when click the tree point on the map."
Open the tree panel page when zooming and clicking the  tree point on the map
https://www.loom.com/share/fc52747214494c70bdc8f3485b9a0315

[2021-09-07 01:58] dadiorchen opened #93 "Remove the zoom in/out control panel on the map"
cuz on the mobile app map we don't need it.
<img width="379" alt="Screen Shot 2021-09-07 at 9 57 26 AM" src="https://user-images.githubusercontent.com/5744708/132272651-1fff0e10-c2b9-4a14-918b-1d9c23b85c16.png">

[2021-09-07 02:00] dadiorchen commented on #93
The map component is in another repository, so we need to folk and change that one too. https://github.com/Greenstand/treetracker-web-map-client

[2021-09-07 02:07] dadiorchen opened #94 "Control the initial view of the map"
https://www.loom.com/share/e40079bdf4bd47c791176cf0ba07a080

[2021-09-07 05:49] VWRoli commented on #91
Working on this.

[2021-09-08 01:00] #50 closed, assigned to nobody

[2021-09-08 01:57] dadiorchen opened #96 "The group list card."
A single group list item component:
<img width="1440" alt="Screen Shot 2021-09-08 at 9 55 32 AM" src="https://user-images.githubusercontent.com/5744708/132433736-3689470e-38c2-447d-9ed5-831113c0da36.png">

-----------
Some hints for building components:
* Our Figma design is here: https://www.figma.com/file/XtReDuYYGDVQBv4JfzVG0g/Greenstand---Wallet?node-id=7%3A71
* A tutorial of how to use Cypres

[2021-09-08 03:49] dadiorchen opened #98 "Make the default page desktop compatible."
The /wallets/[wallet name] page now is working correctly on the mobile device, now need to make it compatible with the desktop screen size, the design:

<img width="1440" alt="Screen Shot 2021-09-08 at 11 48 15 AM" src="https://user-images.githubusercontent.com/5744708/132443435-17e19bee-4bab-4a06-8499-ecb6a52f9be3.png">

[2021-09-08 03:51] dadiorchen commented on #98
I guess the issue needs some advanced features of MatieralUI, like the Grid with xs/ms/... parameter, and some condition rendering according to the screen size.

Or any other ideas/suggestions are welcome, feel free to discuss them here.

[2021-09-08 05:38] dadiorchen opened #99 "Map module can not update the url correctly."
https://www.loom.com/share/6eeb09bfb02341f6bedd28486f8716c2

[2021-09-08 05:41] dadiorchen commented on #99
To fix the problem, we also need to consider making the module https://github.com/Greenstand/treetracker-web-map-client/blob/master/src/models/Map.js more flexible, the thing is, we do the URL update in the module, Map.js, it's inappropriate, because the map should be focused on map stuff, rather then the browser feature, in another way, the Map.js shouldn't know the concept of browser (the locati

[2021-09-08 05:42] dadiorchen commented on #99
This requires some changes on the web map client repo, including changing the code that invokes the Map.js in the repo.

[2021-09-09 01:04] #44 closed

[2021-09-10 14:55] CalDev98 commented on #38
I'll work on it

[2021-09-11 02:07] #38 closed

[2021-09-13 01:44] dadiorchen opened #103 "Add commit rule for project."
Set the rule for a commit message, reference: https://github.com/Greenstand/treetracker-admin-client/blob/master/.huskyrc

[2021-09-14 06:37] #103 closed

[2021-09-14 07:35] dadiorchen opened #106 "Failed to start the project"
**Describe the bug**
`npm start` failed

**To Reproduce**
`npm start`

get error:

[code]

[2021-09-14 07:36] dadiorchen commented on #106
I guess we are merged some problematic PRs

[2021-09-14 08:00] dadiorchen commented on #106
This thread is talking about global webpack, but I suppose it is a bad practice to rely on global npm:
https://stackoverflow.com/questions/29492240/error-cannot-find-module-webpack

[2021-09-14 08:52] YassinHussein commented on #106
I faced the same issue yesterday
when run `npm start `

removing node_modules and package-lock.json  and run `npm i` fixed the issue for me

[2021-09-14 09:31] dadiorchen commented on #106
The same error message? @YassinHussein

[2021-09-14 09:33] YassinHussein commented on #106
yes the same error message

[2021-09-15 00:52] #65 closed

[2021-09-15 02:38] dadiorchen commented on #106
@YassinHussein thanks
@vishal5251 forgot it, I have no problem with this error now, thanks!

resolved by #108

[2021-09-15 02:46] dadiorchen opened #109 "A simple guide/tutorial of how to import openAPI yaml to a api viewer or editor"
Append a tutorial to the readme section: https://github.com/Greenstand/treetracker-wallet-web#api

Could be text or video, to show how to check the API in an editor like swagger or postman.

[2021-09-15 02:50] dadiorchen opened #110 "Wrong logo position."
https://www.loom.com/share/c2a688b979114abf825e154ba2ef3063

[2021-09-15 03:44] dadiorchen commented on #109
https://editor.swagger.io/
![image](https://user-images.githubusercontent.com/5744708/133367207-5b735d60-bfc9-4b44-aef5-4b4b0566c8f1.png)

[2021-09-16 00:41] #27 closed

[2021-09-16 15:48] VWRoli commented on #98
Is there a specific reason why the tab component have a different style on desktop? Or is it just an accident in the design? @dadiorchen

[2021-09-16 22:21] monjurkhuda commented on #33
I would like to work on this component. Please add me to slack (email: kiatbrooklyn@gmail.com)

[2021-09-17 01:28] #110 closed

[2021-09-17 01:59] dadiorchen commented on #98
Sorry for the confusion, the tab with a green background, is the correct version, this underscore-line style is wrong.

[2021-09-17 02:00] dadiorchen commented on #98
@VWRoli will you take this one? If true, what's your idea on it?

[2021-09-17 13:55] VWRoli commented on #98
Yes, I will give it a try.
I was thinking I use a state variable to check the screen width. Change the drawers anchor from bottom to left.
Make the drawer "sticky" (not swipable), as we will have enough map space for the user.
Let me know what you think.

[2021-09-18 02:37] dadiorchen commented on #98
My main focus is how to implement these two versions, I mean both mobile and desktop, there are two choices:
* A suite of components compatible with both.
* Tow suite of components implement them separately.
What's your preference?
How about arranging a quick meeting? Or you can catch me when I'm online at any time, my timetable is pretty flexible.

[2021-09-18 02:40] dadiorchen commented on #98
When I say implement them separately, mainly, I guess it's about the page frame, we still are able to reuse common/small components in it.

[2021-09-18 03:36] #106 closed

[2021-09-18 05:37] CalDev98 commented on #49
I'll work on it

[2021-09-18 20:37] pvdo commented on #96
On it!

[2021-09-19 08:30] YassinHussein commented on #98
@VWRoli I didn't know you  are working on this issue until I added a PL, sorry for that bro

[2021-09-20 01:21] #36 closed

[2021-09-20 01:32] dadiorchen commented on #98
@YassinHussein please hold on, let's discuss and think it over, we make some big decision on how to implement it, the desktop design is in progress, we might be considering making the desktop version totally different with mobile one, because we can utilize bigger space on desktop to display more stuff, like this:
![image](https://user-images.githubusercontent.com/5744708/133949996-e4a4dbe4-123a-4

[2021-09-20 06:09] VWRoli commented on #98
If that's the case than I would go for a different page frame. This is much more complex than the mobile version, so using one suit of components would be difficult and inconvenient.

[2021-09-20 10:24] YassinHussein commented on #98
Ok, that is great

[2021-09-20 10:25] YassinHussein commented on #98
I agree with you

[2021-09-20 11:03] YassinHussein commented on #31
working on this

[2021-09-20 18:32] YassinHussein commented on #32
Working on this

[2021-09-22 02:48] #31 closed

[2021-09-23 02:41] dadiorchen opened #119 "Add backdrop on the map"
The background on the map should be semitransparent according to the design
![image](https://user-images.githubusercontent.com/5744708/134447333-0fa06150-e590-41ce-8006-6795c88ed4fa.png)

[2021-09-23 02:41] dadiorchen commented on #119
Current code:
![image](https://user-images.githubusercontent.com/5744708/134447447-2f9ef7e5-057f-48e3-a351-f2efbbf6e41b.png)

[2021-09-24 01:12] #98 closed

[2021-09-24 14:35] VWRoli commented on #76
Working on this one

[2021-09-25 01:17] #119 closed

[2021-09-25 01:18] #109 closed

[2021-09-25 03:41] dadiorchen opened #124 "Add image thumbnail feature"
Currently, we are loading the original images into lists, it is pretty slow and unnecessary, we need a thumbnail service to crop the image to show thumbnail.

Reference: https://github.com/Greenstand/treetracker-admin-client/blob/master/src/components/OptimizedImage.js

<img width="1440" alt="Screen Shot 2021-09-25 at 11 41 29 AM" src="https://user-images.githubusercontent.com/5744708/134756627-1a

[2021-09-26 19:19] jwgatt commented on #96
@pvdo Are you still working on this? Perhaps we could work together.

[2021-09-27 13:45] pvdo commented on #96
Hey @jwgatt!
Actually, I have almost finished. I am just cleaning up the code.
Thanks for offering though.

[2021-09-27 15:42] VWRoli opened #128 "Share icons are out of alignment on small screens"
**Describe the bug**
Share component is out of alignment on small screens and Facebook icon are not as per the figma design.
https://www.figma.com/file/XtReDuYYGDVQBv4JfzVG0g/Greenstand---Wallet?node-id=7%3A71

**To Reproduce**
![Screenshot from 2021-09-27 17-31-13](https://user-images.githubusercontent.com/31432331/134940413-67d1cd83-dc5a-4b18-b36b-ee5457dd4ea0.png)

**Expected behavior**
The ico

[2021-09-27 15:45] VWRoli commented on #128
Working on this

[2021-09-28 01:11] dadiorchen commented on #96
Thank you, guys! All the things are pushing forward, our two designers also are working on new features on these apps. @jwgatt I guess the guy on this issue is getting stalled, could you please take it: https://github.com/Greenstand/treetracker-wallet-web/issues/75

[2021-09-28 08:58] jwgatt commented on #124
This one looks decent https://cloudinary.com/documentation/image_transformations

[2021-09-28 09:07] jwgatt commented on #93
I'll work on this.

[2021-09-28 12:44] jwgatt commented on #93
I have tried adding `zoomControl: false,` to the `mapOptions` in node_modules/client/src/models/Map.js, which is what the official leaflet docs suggest, but the zoom control is still visible. Another option would be to use this code; `map.removeControl(map.zoomControl);` but i'm still looking for the correct place to use it.

[2021-09-29 01:56] #128 closed

[2021-09-29 01:57] #32 closed

[2021-09-29 02:20] #76 closed

[2021-09-29 02:24] dadiorchen commented on #124
@jwgatt great, I ever used that service, I mean cloudinary.com, it's good, our admin panel team is using this service: https://statically.io/ what do you think? Which one you prefer.

[2021-09-29 02:30] dadiorchen commented on #93
Some clues:
* we are re-use Map class in treetracker-web-map-client, so if we want to change the behavior of the map, we need to change code in that repo.
* The Map class wrap the leaflet inside, so I guess the work is to open more settings for user on the Map.js, I prefer to translate the settings of Map's to leaflet's, let's make the user of Map zero knowledge of the implementation.

[2021-09-29 02:31] dadiorchen commented on #93
https://github.com/Greenstand/treetracker-web-map-client/blob/web-map-site/src/models/Map.js

[2021-09-29 05:54] YassinHussein commented on #74
work on it

[2021-09-29 06:55] dadiorchen commented on #74
@YassinHussein which library will you use? I just read materialUI's document, they are supporting chart now: https://mui.com/x/

[2021-09-29 08:04] YassinHussein commented on #74
I was going to use this library https://recharts.org, the chart component on MUI-x is not ready yet

[2021-09-29 08:05] YassinHussein commented on #74
@dadiorchen what do you suggest

[2021-09-29 08:10] dadiorchen commented on #74
That's fine, recharts is good

[2021-09-29 08:21] dadiorchen commented on #74
Seems Chart.js is more popular and battle field checked, https://stackshare.io/stackups/js-chart-vs-recharts
here is a react wrapper of it: react-chartjs-2

[2021-09-29 08:58] YassinHussein commented on #74
@dadiorchen  ok great,  I will use chart.js

[2021-09-29 21:57] jwgatt commented on #93
On it

[2021-09-30 13:09] jwgatt commented on #93
Done [#172](https://github.com/Greenstand/treetracker-web-map-client/pull/172)

[2021-09-30 22:16] CalDev98 commented on #45
I work on this.

[2021-10-01 03:55] dadiorchen commented on #45
Greay @CalDev98 please also refer to this PR, I have done some work on it: https://github.com/Greenstand/treetracker-wallet-web/pull/125

[2021-10-02 08:10] VWRoli commented on #124
Are you working on this @jwgatt ? Because I have a working solution with https://statically.io/  and the admin client code.

[2021-10-02 12:56] jwgatt commented on #124
I was just investigating to get myself up-to-date. If you have a working solution, go for it.

[2021-10-03 01:03] #93 closed

[2021-10-03 01:11] #74 closed

[2021-10-04 20:59] jwgatt opened #135 "Browser throwing TypeError on deploy"
Browser throwing TypeError on deploy

**To Reproduce**
Run `npm start` from console

**Expected behavior**
 I expected the client to run locally on my machine.

**Desktop:**
Linux Ubuntu 20.04
Chromium 93.0 / Firefox 92.0

![image](https://user-images.githubusercontent.com/79326421/135922148-25d419e7-8334-4421-9c8f-beaff8714fa5.png)

I have found that if I remove `.split()` from line 24 in the abo

[2021-10-04 23:03] CalDev98 commented on #45
alright

[2021-10-05 02:23] #124 closed

[2021-10-05 19:37] jwgatt opened #137 "Map showing european country names in wrong language"
Map showing some European countries in French and Spanish instead of default English, at certain zoom levels. Curiously this only happens on the European continent, it doesn't happen elsewhere on the map as far as I can see.

**To Reproduce**
Deploy the app and zoom-in with mouse wheel towards Europe

**Expected behavior**
Country names should remain the same language, regardless of zoom level

**

[2021-10-06 02:28] dadiorchen commented on #135
@jwgatt we must convert the string "domain1,domain2,domain3" to array: ["domain1", "domain2", "domain3"], because that's the type leaflet needed for the option.

[2021-10-06 02:40] #39 closed

[2021-10-07 17:23] rgesulfo commented on #86
Hi @dadiorchen,
Sorry for the super long delay...
How is the development going? :)
Is there a way to see the progress, by any chance? :D
Here is a simple way to fill in the screen you requested: https://www.figma.com/file/vOCKDnXrejCASuQQyZPYYR/Wallet-Web-App-Master?node-id=78%3A3
Do you think displaying so many images might be too much in terms of performance/load?
Thanks for your help :)

[2021-10-08 00:48] dadiorchen commented on #86
Yes, people are asking for more UI to build :D

[2021-10-08 06:25] rgesulfo commented on #86
Hi @dadiorchen, really sorry about this.
I made a big update of the way we manage design files across projects.
Some permissions might have been lost along the way.
You should be good now :)
Thanks

[2021-10-08 13:04] VWRoli commented on #78
I would use a skeleton loading instead of the spinner. I think that would look better and more modern.

[2021-10-08 15:23] VWRoli opened #139 "Bottom component style and alignment"
**Describe the bug**
The Bottom component is out of alignment, and the bottom corners are rounded off when it should be square.

**To Reproduce**
![Screenshot from 2021-10-08 17-19-08](https://user-images.githubusercontent.com/31432331/136582556-1dd0a37e-bf01-42b8-bc04-a5a4745af7f3.png)

**Expected behavior**
The content of the component should all be in one line, and the bottom corners should not

[2021-10-09 01:37] dadiorchen opened #141 "Upgrade the node.js to 16"
Set the project to use node.js v16 by default. and test it works well in aspects:
* the app: npm start
* the cypress integration: npm run cy
* the cypress component tool: npm run cyu
* the test: npm test (there might be some broken tests now, it's fine, just make sure jest can run on the 16)

reference: https://github.com/Greenstand/treetracker-admin-api/pull/595

---

Some hints:

- Please read o

[2021-10-09 01:51] dadiorchen opened #142 "Upgrade material-ui from 4 to 5"
Upgrade material-ui from 4 to 5, considering:
* Is it possible for our repo?
* Any broken components?

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-wallet-web#treetracker-impact-wallet) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organization, visit

[2021-10-09 01:56] #139 closed

[2021-10-09 03:39] dadiorchen commented on #86
A question about the UX of this page: https://greenstand.slack.com/files/UKV1LSTJB/F02H81T2GAW/screenshare_-_2021-10-09_11_38_10_am.webm

[2021-10-11 01:11] #57 closed

[2021-10-11 01:14] #141 closed

[2021-10-11 01:15] #78 closed

[2021-10-11 15:19] rgesulfo commented on #86
You are absolutely right. There are more info we could display. Here is the updated designs based on your suggestions: https://www.figma.com/file/vOCKDnXrejCASuQQyZPYYR/Wallet-Web-App-Master?node-id=78%3A3

Thank you for your help :)

[2021-10-12 09:55] dadiorchen opened #146 "Detail page frame component."
To build a common component for the second type of detail page, check the demo below.
This is a common component so don't need to implement the page content in the panel, just the frame with background (semi-transparent) on the top and back button.

<img width="1440" alt="Screen Shot 2021-10-12 at 5 49 23 PM" src="https://user-images.githubusercontent.com/5744708/136933927-47dfdd46-6b99-414e-844f-

[2021-10-12 20:52] dtabarini commented on #146
I would like to take this!

[2021-10-13 03:22] dadiorchen opened #148 "Detailed page frame interaction"
This is an improvement of this issue: #146
The idea is when dragging down the panel, expand the planter photo and maximize it when reaching to some threshold (say some scroll position)

https://greenstand.slack.com/files/UKV1LSTJB/F02HYB5RH33/screenshare_-_2021-10-13_11_19_43_am.webm

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-wallet-web#treetracker-impa

[2021-10-13 03:23] dadiorchen opened #149 "Integrate the page: planter details"
Prerequisites: #146

Integrate the whole page with: components, API calls, if necessary, please add some mock data in the spec file.
Please write integration test covering this page, as guided in the readme's test section.

<img width="1440" alt="Screen Shot 2021-10-13 at 11 23 15 AM" src="https://user-images.githubusercontent.com/5744708/137061839-514abd21-a8c4-48ef-b127-41b1905a7ced.png">

---

[2021-10-13 12:32] VWRoli opened #151 "Back button not working"
**Describe the bug**
The back button is not working on the Details page.

**To Reproduce**
Go to: `http://localhost:3000/[wallet name]/trees/[tree id]` page and try to click on the back button. Nothing is happening.

**Expected behavior**
Should go back to the previous page.

[2021-10-15 01:41] dadiorchen commented on #146
@rgesulfo I'm confused by this, we seems to have to different version of the UI on figma?
This is the stale version: https://www.figma.com/file/XtReDuYYGDVQBv4JfzVG0g/Greenstand---Wallet?node-id=7%3A71

[2021-10-15 20:00] dtabarini commented on #146
@rgesulfo Can I be added to the figma? The link says I do not have access

[2021-10-18 22:25] dadiorchen opened #156 "Add integration test and component unit test to our CI/CD Github Action"
We need to add our Cypress integration test and component unit test (all tests end with `.cy.js`) to the workflow https://github.com/Greenstand/treetracker-wallet-web/blob/master/.github/workflows/treetracker-wallet-web-build-deploy-dev.yml so when master merge or PR is created, the Action will re-run all these tests against the new code to check the code.
On the PR page, should display the result

[2021-10-19 07:53] #33 closed

[2021-11-11 07:17] dadiorchen opened #162 "Migrate to use treetracker-web-map-core"
Now we are install treetracker-web-map-client to get the map object, since these code has been migrated to https://github.com/Greenstand/treetracker-web-map-core so we need to migrate to this repo, and also, the API of the map object changed too, we need upgrade the code too. Check the sandbox, test in the `core` repo for usage of the new code please.

---

Some hints:

- Please read our [readme](

[2021-11-16 02:57] #151 closed

[2021-11-16 02:59] #142 closed

[2021-11-16 07:11] dadiorchen opened #163 "Refine the CSS of the wallet page"
Currently, the wallet page is a little different from the UI design, we need someone who is familiar with CSS to refine the UI to match the design file.

Our UI design:

![image](https://user-images.githubusercontent.com/5744708/141937331-cffab14f-538b-4eb8-b32c-f899b05ef1c9.png)

our implementation.
<img width="358" alt="Screen Shot 2021-11-16 at 3 05 29 PM" src="https://user-images.githubusercon

[2021-11-16 08:43] dadiorchen opened #164 "Resolve warnning/error related to MaterialUI"
on the page below, there are some errors throwing in the console, might be because that we violated some rule of MUI, need to fix them.

http://localhost:3000/wallets/180Earth

[check the video](https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202021-11-16%20at%204.39.18%20PM.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIARV4KTOM4LH222XJA%2F20211116%2Fap-northeast-1%2Fs

[2021-11-16 15:27] VWRoli commented on #163
I will take a look at it, but mine does not look as bad as yours. Mostly just margin and padding issues
![Screenshot from 2021-11-16 16-25-17](https://user-images.githubusercontent.com/31432331/142014452-2b020c04-7e2b-4e4c-a59d-a70523188818.png)
.

[2021-11-17 02:18] dadiorchen commented on #163
Thanks @VWRoli ! I'm wondering why yours and mine is different.

[2021-11-17 02:51] dadiorchen opened #166 "The mapdrawer overlap the tree panel"
To reproduce this bug, direct visit the tree page by URL, like: http://localhost:3000/wallets/stephanie/trees/123

<img width="1434" alt="Screen Shot 2021-11-17 at 10 47 55 AM" src="https://user-images.githubusercontent.com/5744708/142119653-3b6cc1cf-62fc-4f77-8801-6a1ba00b3a49.png">

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202021-11-17%20at%2010.48.02%20AM.mp4

---

Some

[2021-11-17 03:19] dadiorchen opened #167 "Image is distorted"
<img width="1434" alt="Screen Shot 2021-11-17 at 11 17 50 AM" src="https://user-images.githubusercontent.com/5744708/142128507-29acc2b1-1863-4504-8a94-59d1e65fc362.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-wallet-web#treetracker-impact-wallet) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engin

[2021-11-17 09:27] dadiorchen opened #169 "`npm run cyu` doesn't work"
can not start, threw error:
[code]

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-wallet-web#treetracker-impact-wallet) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organization, visit our [website](https://greenstand.org).
- If you want to join the s

[2021-11-17 09:45] dadiorchen opened #170 "Implement the planter page"
Check the video:

https://dadior.s3.ap-northeast-1.amazonaws.com/Screen%20Recording%202021-11-17%20at%205.36.53%20PM.mp4

![image](https://user-images.githubusercontent.com/5744708/142176858-36dcd2b3-757d-4eec-9624-69c1bdd76559.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-wallet-web#treetracker-impact-wallet) for more information/guide/tutorial.
- He

[2021-11-17 16:08] VWRoli commented on #163
That's a good question. I tried on different browsers and it looks the same (Brave, Chrome, Firefox).

[2021-11-18 02:11] dadiorchen opened #172 "The last timeline item shouldn't have a link line"
<img width="1434" alt="Screen Shot 2021-11-18 at 10 09 36 AM" src="https://user-images.githubusercontent.com/5744708/142338579-078ef599-15d5-432e-9e52-6c45fba19cd7.png">

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-wallet-web#treetracker-impact-wallet) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engin

[2021-11-19 03:13] #40 closed

[2021-11-19 03:13] #37 closed

[2021-11-19 03:13] #30 closed

[2021-11-19 03:13] #29 closed

[2021-11-19 03:14] #24 closed

[2021-11-19 03:14] #15 closed

[2021-11-19 03:15] #12 closed

[2021-11-19 03:15] #162 closed

[2021-11-19 13:15] bedgarone commented on #172
Hi @dadiorchen, may I be added to the Slack community? brunoedgarero@gmail.com
I would like to contribute and have already filled the join form.
Regards

[2021-11-20 01:45] dadiorchen commented on #172
Thank you! yes, I will invite you!

[2021-11-21 10:38] VWRoli opened #176 "MUI error when opening Caution component"
**Describe the bug**
MUI error when opening Caution component.

**To Reproduce**
Open the caution component, an error will pop up in the console. "< h6 > cannot appear as a descendant of < p >."

**Expected behavior**
There should be no error message.

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser Brave, Chrome

[2021-11-22 02:45] #176 closed

[2021-11-22 02:46] #96 closed

[2021-11-22 02:48] #164 closed

[2021-11-22 02:50] #163 closed

[2021-11-22 02:55] #166 closed

[2021-11-22 02:59] dadiorchen commented on #172
@bedgarone will you take this issue?

[2021-11-22 03:05] dadiorchen commented on #149
@dtabarini did you get any progress on this?

[2021-11-22 03:07] dadiorchen commented on #135
@jwgatt is this still a valid bug?

[2021-11-22 03:09] dadiorchen commented on #137
@jwgatt is this related to https://github.com/Greenstand/treetracker-web-map-client/issues/199

[2021-11-22 03:09] #99 closed

[2021-11-22 03:10] #77 closed

[2021-11-22 03:11] dadiorchen commented on #86
FInished!

[2021-11-22 03:11] #86 closed

[2021-11-22 03:11] dadiorchen commented on #47
Finished

[2021-11-22 03:11] #47 closed

[2021-11-22 03:12] dadiorchen commented on #94
Duplicated

[2021-11-22 03:12] #94 closed

[2021-11-22 03:13] #49 closed

[2021-11-22 03:13] dadiorchen commented on #25
Unclear requiresment

[2021-11-22 03:13] #25 closed

[2021-11-22 03:14] #54 closed

[2021-11-22 03:14] #85 closed

[2021-11-22 17:24] dtabarini commented on #149
Yeah still working on it!

[2021-11-22 17:50] jwgatt commented on #135
No, I think it was a local problem on my machine.

[2021-11-22 17:50] #135 closed

[2021-11-23 03:47] dadiorchen commented on #149
Great, pleaes checkout newest code, I have made some progress on filling those information fields, note we are migrate to use the mock-server in : treetracer-web-map-client, in short, these two app will use the same API service.

[2021-11-23 03:48] dadiorchen commented on #149
https://github.com/Greenstand/treetracker-wallet-web/issues/170

[2021-11-23 07:46] VWRoli opened #178 "HTML structure issue at history tab"
**Describe the bug**
HTML structure issue at history tab, < p > tag cannot have < ul >  and < div > as children which causes an error/warning.

**To Reproduce**
Open history tab at tree page, where the console will show the error

**Expected behavior**
There should be no error in the console.

**Desktop (please complete the following information):**
- OS: Linux
- Browser Brave, Chrome

[2021-11-25 09:27] VWRoli opened #182 "Optimize images on tree page"
**Describe the bug**
Images on the tree page takes a lot of time to load.

**To Reproduce**
Open the tree page and wait for images to load.

**Expected behavior**
 Images should be optimized to take less time to load and use less bandwidth.

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser Chrome, Brave

[2021-11-25 13:25] VWRoli commented on #182
Working on it

[2021-11-25 13:29] jwgatt commented on #137
I'm not sure but I cannot reproduce this bug now so I will close this issue until further notice.

[2021-11-25 13:29] #137 closed

[2021-11-27 16:29] VWRoli commented on #169
Working on this one

[2021-11-30 08:50] dadiorchen opened #184 "`npm start` failed"
On my macos, the top showing 2G+ memory consuming.
![image](https://user-images.githubusercontent.com/5744708/144015019-6013ea92-4382-4c31-b9fb-1bc9c3b7e642.png)

And failed to run eventually:

[code]

[2021-11-30 09:09] dadiorchen commented on #184
And I failed to run it at last `npm start`:

[code]

[2021-11-30 09:12] dadiorchen commented on #184
@VWRoli you can run it right? I don't know why I failed, I just `rebase` ed my code to `main`

A things need to mention is that I have some problem with `webpack`:

[code]

So I need to delete the `package-lock.json` then I can install the modules successfully, after that, `npm start` failed.

[2021-11-30 15:08] VWRoli commented on #184
I can run it yes, cloned the repo to another folder and it is working. I was not able to reproduce the problem you are having.

[2021-12-02 09:51] VWRoli commented on #169
I'm completely stuck with this. I tried every possible solution I could come up with.

My findings:
If we remove the react-scripts line from the code and create a dev server start event the component tester will run but does not recognize JSX as we removed it. I tried adding packages, removing packages, adding webpack.config file but nothing seems to be working. I don't have any more ideas so any

[2021-12-03 02:23] dadiorchen commented on #169
I will join the analysis later on this, but first, I need to figure out how to `npm start` I can not event run it but I guess that's some Chinese-special problem. ;)

@QuaidBartolomei with a quick peek, do you have any idea?

[2021-12-06 07:26] Siddhant-K-code opened #187 "Hide SourceMap"
## **Describe the bug**
Our Source Code of WebApp: https://wallet.treetracker.org/ is visible to all the users.

It happens because of using creat-react-app as default settings. Also, due to this node_modules are getting deployed to the Production build.

This Can be fixed by updating scripts:
[code]

![image](https://user-images.githubusercontent.com/55068936/144804676-d79a1134-06c7-4a02-9d28-fe1

[2021-12-07 01:35] #178 closed

[2021-12-07 01:36] #167 closed

[2021-12-07 01:37] #172 closed

[2021-12-07 01:39] #182 closed

[2021-12-07 01:40] #187 closed

[2021-12-07 02:25] dadiorchen opened #190 "Semantic release bot support"
So we can tag the repo automatically, ref :https://github.com/Greenstand/treetracker-web-map-client/actions/runs/1420653623

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-wallet-web#treetracker-impact-wallet) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about o

[2021-12-07 03:39] dadiorchen opened #191 "`npm run build` doesn't work"
1. clone the repo
2. npm ci (I didnt' use npm i, maybe this is the reason, I'm not sure)
3. npm run build

[code]

---
- If you want to join the slack community (some resources need the community member's permission), please leave your email address.

[2021-12-07 03:40] dadiorchen commented on #191
@VWRoli seems there are some weird npm things going on currently ;(

@Siddhant-K-code this happens on your side right?

[2021-12-07 03:41] dadiorchen commented on #191
@VWRoli why we need to upgrade to react 17?

[2021-12-07 03:53] Siddhant-K-code commented on #191
Yeah, I was also curious that what is the need for this : [ `node-version >= 16` ](https://github.com/Greenstand/treetracker-wallet-web/blob/main/package.json#L76)

[2021-12-07 07:36] VWRoli commented on #191
Not working on my side either with my original copy of the repo.

We did not upgrade to 17, the project was initialized with 17.

[2021-12-08 01:40] dadiorchen commented on #191
@VWRoli interesting, theoretically, mock server things should have an impact on this

Me too, I can run `npm start` but can not build, the embarrassing situation is that the command doesn't throw any error message when failing

[2021-12-08 08:46] VWRoli commented on #191
Success

[2021-12-08 09:09] VWRoli opened #193 "Remove unused variables"
**Describe the bug**
Remove unused variables from the whole project

**To Reproduce**
Just run the project with `npm start`

![Screenshot from 2021-12-08 10-06-26](https://user-images.githubusercontent.com/31432331/145180526-805749b5-d6fc-4872-bf89-159cbad3c2f2.png)

**Expected behavior**
The project should not have any unused variables.

[2021-12-08 10:33] VWRoli commented on #193
on it

[2021-12-08 16:22] #191 closed

[2021-12-08 19:41] VWRoli commented on #169
This is still not working, I have a working solution which I'll implement tomorrow.

[2021-12-08 20:11] tobytao1 commented on #170
I would like to take this, but the link above is error as I clicked in.

[2021-12-09 15:37] VWRoli opened #196 "Refine the style of the project"
**Describe the bug**
Styling has some issues, like old material UI imports, hardcoded color, and spacing styles.

**Expected behavior**
The project uses MUI 5 now, so it should only import from there. Colors and spacing be from the theme, and should not be hardcoded.
Also, I saw that the primary color changed in the Figma design.

[2021-12-09 15:37] VWRoli commented on #196
Working on this

[2021-12-10 02:09] dadiorchen commented on #170
@tobytao1 I have fixed the link

[2021-12-10 02:14] #169 closed

[2021-12-10 02:40] #193 closed

[2021-12-14 15:29] VWRoli opened #198 "Add data for PlanterList component"
PlanterList component should get the data from the API.

![Screenshot from 2021-12-14 16-28-51](https://user-images.githubusercontent.com/31432331/146028231-c0850237-82fb-4c27-8fc5-f4d4743c8ea8.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-wallet-web#treetracker-impact-wallet) for more information/guide/tutorial.
- Here is [an engineering book](https:

[2021-12-14 16:36] VWRoli commented on #198
I'm pretty much done with this @dadiorchen.
One problem is that the tree species data does not have an image src. Should I add this to the API? Will there be images for tree species in the real API?
![Screenshot from 2021-12-14 16-47-43](https://user-images.githubusercontent.com/31432331/146031651-55d8b836-1508-4303-9e0c-4f47ef0b2076.png)

[2021-12-14 16:38] VWRoli opened #199 "Add eslint to the husky pre-commit hook."
Add lint-staged to the husky pre-commit hook. So we can lint the staged files automatically. Right now we only run prettier on staged files.

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-wallet-web#treetracker-impact-wallet) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To

[2021-12-14 16:42] VWRoli opened #200 "Optimize avatar image in TokenCard component"
**Describe the bug**
The image is taking too much time to load. Should be optimized with `utils/getOptimizedCDNUrl` function.

**To Reproduce**
Load the main page.

**Expected behavior**
Loading the images should be much faster.

---
- If you want to join the slack community (some resources need the community member's permission), please leave your email address.

[2021-12-14 16:49] VWRoli opened #201 "Treepanel overlap"
**Describe the bug**
#166 fixed this if we click on a tree, but if we visit the tree page via URL or just refresh on the page the drawer is visible.

**To Reproduce**
Visit the tree page via URL or refresh the tree page.

**Expected behavior**
The drawer should not be visible on the tree page at all.

---
- If you want to join the slack community (some resources need the community member's permiss

[2021-12-15 01:49] dadiorchen commented on #149
@dtabarini have to quit this issue for personal reason, so this issue now is open for everyone.

[2021-12-15 02:08] dadiorchen commented on #198
@VWRoli thanks for progress on this, we don't have a formal profile image for species, but I'm thinking maybe we can make a workaround in some way, so you can assume that we do provide it now.
But the way, do you think we can make a good image-cutting job through that image service? The service we used for image thumbnail?
for example: if we want to cut these images below to the size as shown as i

[2021-12-15 15:59] VWRoli commented on #198
As in resizing to a smaller size? Sure, we had no trouble with that service so far.

[2021-12-16 02:14] dadiorchen opened #205 "Change the app title to: Greenstand Wallet"
![image](https://user-images.githubusercontent.com/5744708/146295399-5927125a-ac66-4105-a9b8-f1edd90ccdda.png)

---

Some hints:

- Please read our [readme](https://github.com/Greenstand/treetracker-wallet-web#treetracker-impact-wallet) for more information/guide/tutorial.
- Here is [an engineering book](https://greenstand.gitbook.io/engineering/) in Greenstand.
- To know more about our organizati

[2021-12-16 07:21] nitin094-hub commented on #205
Could you plz assign this to me?

[2021-12-16 07:44] dadiorchen commented on #205
Hey, it's yours!

[2021-12-16 18:47] arcadioramos commented on #205
If this wasn't solved yet can I work on it?

[2021-12-17 02:40] dadiorchen commented on #205
@arcadioramos @nitin094-hub is already on it, take a look at these list, all these issues are open for everyone:
https://github.com/orgs/Greenstand/projects/26
https://github.com/orgs/Greenstand/projects/28

[2021-12-17 15:34] VWRoli commented on #201
Working on this

[2021-12-18 01:27] dadiorchen commented on #170
This issue now is open to everyone!

[2021-12-20 02:44] jwgatt opened #207 "Refractor/remove legacy MaterialUI v4 code"
Cypress is throwing errors which i think are related to legacy materialui code such as makeStyles and useStyles etc.

![Screenshot from 2021-12-20 03-40-37](https://user-images.githubusercontent.com/79326421/146704285-c459eeff-0eaa-4ae5-9926-024c0a3f8fdd.png)

[2021-12-20 22:39] jwgatt commented on #207
Done. [#202 ](https://github.com/Greenstand/treetracker-wallet-web/pull/202)

[2021-12-21 14:54] VWRoli commented on #207
This is taken care of in #197

[2021-12-22 15:43] VWRoli commented on #201
So our problem here is the routes, the map, and the drawer. But I have multiple solutions. We should schedule a meeting sometime after the holidays @dadiorchen so we can discuss the solution.

[2021-12-27 17:30] sunnyjain15699 commented on #170
Yo! I would like to work on this issue ?

[2021-12-28 01:48] dadiorchen commented on #170
Good!

[2021-12-29 10:47] sunnyjain15699 commented on #170
Hi @dadiorchen! Can you add me in your slack community. My email is sunnypersonal15699@gmail.com

[2021-12-30 01:11] dadiorchen commented on #170
@sunnyjain15699 I have invited you

[2022-06-07 23:05] #207 closed